*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 30px;
  grid-template-areas:
    "video title"
    "video list";
  width: 1140px;
}

.result {
  grid-area: video;
  align-self: end;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  grid-area: list;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
  align-self: start;
}


.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 298px;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.cards-list-item-template {
  display: block;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}


.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 200px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  margin-left: auto;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400px;
  line-height: 16.2px;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form {
  margin-top: 40px;
  margin-bottom: -16px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.search-form__textfield {
  margin-top: 5px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  appearance: none;
  width: 211px;
  height: 22px;
}

fieldset {
  border-style: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

/* Стили для псевдочекбокса */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

/* Псевдоэлемент для отмеченного состояния */
.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  /* на 1px меньше с каждой стороны (19px - 2px border - 2px = 15px) */
  height: 15px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Когда чекбокс отмечен - показываем псевдоэлемент */
.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* Фокус состояние для чекбокса */
.search-form__label:has(:focus-visible) .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Подчеркивание текста при наведении на лейбл */
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Дополнительные стили для выравнивания */
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}


.search-form__checkbox-list {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.button {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.search-form__submit-button {
  padding-right: 0;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

